html {
  scroll-behavior: smooth;
  transition: 0.5s;
}

body
{
	margin: 0;
	padding: 0;
}

.centerLogo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	padding-bottom:30px;
}

.shareToSocial
{
	opacity:0.5;
}

.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.lineUnderMenu
{
	text-align: center;
	color: #999999;
	font-size: 14px;
	padding-bottom:30px;
}

.lineUnderEverything
{
	text-align: center;
	color: #999999;
	font-size: 14px;
	padding-bottom:30px;
	padding-top: 30px;
}
.textFont
{
	font-family: 'Roboto Slab', serif;
	/*font-family: 'Source Code Pro', monospace;*/
}

.textGoldColor
{
	color: #ffeb7f;
}

.textGreyColor
{
	color: #282828;
}

.generalText
{
	color: #282828;
}
.infoProject
{
	text-align: justify;
	font-size: 13px;
	padding-left: 5%;
	padding-right: 5%;
}

.subTitle
{
	text-align: justify;
	font-size: 15px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.underImageTextDate
{
	color: #999999;
	text-align: center;
	font-size:12px;
}

.footerText
{
	color: #999999;
	text-align: center;
	font-size: 10px;
}

.footerSocial
{
	
	
	width: 25px;
	padding-left: 0px;
	padding-bottom: 10px;
	
	/*margin-left: auto;*/	
}

.footerSocialImage
{
	float: center;
	display: block;
	width: 25px;
	padding-left: 0px;
	padding-bottom: 10px;
	
}

/*///////// Destinations CSS Under Images//////*/

.destinationsDate
{
	text-align: center;
	font-size:15px;
}

.destinationsPlace
{
	text-align: center;
	font-size:20px;
}

/* MENU//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.menuCenter
{
	text-align: center;
}

.menuCenterText
{
	padding:30px;
	text-decoration: none;
	font-size: 14px;
	color: #282828;
	font-weight: 500;
}

.menuCenterText:hover
{	
	color: #194045;
}


/*///////////////////////// END OF MENU ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
/*//////////////////////// FADE IN ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.fadeImage {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
    display: block;
    margin: 25px auto;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*//////////////////////// END FADE IN ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
@media screen and (max-width: 600px) 
{
	.tiles-wrap 
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.tiles-wrap li 
	{
		width: 40%; /*250px*/
	}
	
	.menuCenterText
	{
		padding:5px;
		text-decoration: none;
		font-size: 14px;
		color: #282828;
	}
	
	.articleText
	{
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 20px;
		font-size: 14px;
		color: #fff;
	}
	
	.centerLogo
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
		padding-bottom:30px;
	}
}

@media screen and (max-width: 900px)
{
	.tiles-wrap 
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.tiles-wrap li 
	{
		width: 40%;   /*300px*/
	}
	
	.articleText
	{
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
		font-size: 14px;
		color: #fff;
	}
	
	.articleSubTitle
	{
		padding-left: 20px;
		font-size: 20px;
		color: #fff;
		padding-bottom: 20px;
	}
	
	.articlePhotos
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		padding-bottom: 20px;
	}
	
	.centerLogo
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
		padding-bottom:30px;
	}
}

.centerAling
{
	display: block;
    text-align: center;
}

.fa 
{
	padding-top: 20px;	
	padding-left: 10px;
	font-size: 0px;
	width: 30px; /*trial*/
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	transition: 0.5s;
}

.loadMoreImages
{
	padding-top: 30px;	
	padding-left: 35px;
	font-size: 0px;
	width: 100%; /*trial*/
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	transition: 0.5s;
}

.loadedImages
{
	width: 20%;
	padding-bottom: 30px;
	padding-top: 30px;
	
	float: center;
	
	
	margin-left: auto;
	margin-right: auto;
}

.fa:hover {
    opacity: 0.7;
}

.loadMoreImg
{
	width: 10%;
}

#more {display: none;}


.btnCenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	padding-bottom:30px;
}

.btn
{	
	display: block;
	background-color: #282828;
	border: none;
	color: white;
	padding: 15px 64px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 1px;
	margin-top: 10px;
	border-radius: 0px;
	cursor: pointer;
}

a:link {
  text-decoration: none ;
}

.goTopBtn
{
	position: fixed;
	width: 50px;
	height: 50px;
	background: #282828;
	bottom: 40px;
	right: 50px;
	
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 22px;
}